<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT content ANY>
<!ATTLIST content id ID #REQUIRED>
<!ELEMENT services ANY>
<!ATTLIST services id ID #REQUIRED>
<!ELEMENT portfolio ANY>
<!ATTLIST portfolio id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT blog ANY>
<!ATTLIST blog id ID #REQUIRED>
]>
<root id="-1">
  <home id="1054" key="1eb05e4f-5f6f-4514-9b0f-fda59d13d085" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-08-19T21:31:38" updateDate="2018-08-20T22:28:11" nodeName="Home" urlName="home" path="-1,1054" isDoc="" nodeType="1052" creatorName="FionaFA" writerName="FionaFA" writerID="0" template="1053" nodeTypeAlias="home" isPublished="true">
    <blog id="1057" key="bfc6e572-4738-490d-8cde-c0562ae0feae" parentID="1054" level="2" creatorID="0" sortOrder="0" createDate="2018-08-20T22:08:05" updateDate="2018-08-20T22:08:05" nodeName="Blog" urlName="blog" path="-1,1054,1057" isDoc="" nodeType="1056" creatorName="FionaFA" writerName="FionaFA" writerID="0" template="1055" nodeTypeAlias="blog" isPublished="true" />
    <portfolio id="1069" key="33e6059f-bbb1-4a00-9d18-679dcda1079d" parentID="1054" level="2" creatorID="0" sortOrder="1" createDate="2018-08-20T22:56:18" updateDate="2018-08-20T23:02:29" nodeName="Portfolio" urlName="portfolio" path="-1,1054,1069" isDoc="" nodeType="1068" creatorName="FionaFA" writerName="FionaFA" writerID="0" template="1067" nodeTypeAlias="portfolio" isPublished="true" />
    <services id="1072" key="8e0950ff-62b4-4b01-94da-9edd082ac26a" parentID="1054" level="2" creatorID="0" sortOrder="2" createDate="2018-08-20T23:24:56" updateDate="2018-08-20T23:24:56" nodeName="Services" urlName="services" path="-1,1054,1072" isDoc="" nodeType="1071" creatorName="FionaFA" writerName="FionaFA" writerID="0" template="1070" nodeTypeAlias="services" isPublished="true" />
    <content id="2072" key="b44ea0e2-5696-43d8-b086-7afe89abf6c4" parentID="1054" level="2" creatorID="0" sortOrder="3" createDate="2018-08-22T21:20:31" updateDate="2018-08-22T21:20:31" nodeName="About" urlName="about" path="-1,1054,2072" isDoc="" nodeType="2071" creatorName="FionaFA" writerName="FionaFA" writerID="0" template="2070" nodeTypeAlias="content" isPublished="true" />
    <contact id="2075" key="54c7472b-10f7-4aec-8301-d9ee4c90190a" parentID="1054" level="2" creatorID="0" sortOrder="4" createDate="2018-08-22T21:26:47" updateDate="2018-08-22T21:26:47" nodeName="Contact" urlName="contact" path="-1,1054,2075" isDoc="" nodeType="2074" creatorName="FionaFA" writerName="FionaFA" writerID="0" template="2073" nodeTypeAlias="contact" isPublished="true" />
  </home>
</root>